/* ----- =structure ----- */

body {
	background-color: rgba(184, 226, 243, 0.856);
  	margin: 0;
  	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
	height: 120px;
	background-color: darkblue;
  	color: aliceblue;
  	text-align: center;
  	font-family: sans-serif;
  	padding: 5px;
  	margin: 0;
  	display: block;
}
section {
	padding: 0 25%;
  	margin: 20px 0;
}
iframe {
  	width: 100%;	
  	border-radius: 8px;
  	border: 1px solid #c5c0b8;
}
footer {
	background-color: darkblue;
  	color: aliceblue;
  	padding: 5px;
  	margin: 0;
  	text-align: center;
}
.list-position {
  	list-style-position: ;
}



/* ----- =type ----- */
h2 {
	color: aliceblue;
}
h3 {
	color: #403933;
}
h2, h3 {
  	text-align: center;
  	font-weight: 500;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }

p, li {
 	line-height: 1.5em;
 	margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;	
}
a:link { color: #2ca188; }
a:visited { color: #38786a; }
a:hover { color: hotpink; }
a:active { color: #403933; }
a:hover {
	text-decoration: underline;	
}

em {
  	font-weight: bold;
  	font-style: normal;
}



/* ----- =photo arrangement ----- */

.profile_fit {
	max-height: 400px;
}
.half_horizontal {
	max-width: 500px;
}
.half_vertical {
	max-height: 500px;
}
.row {
  	display: flex;
}
.column {
  	flex: 50%;
  	padding: 5px;
  	align-items: center;
  	justify-content: center;
  	display: flex;
}
.column_profile {
 	 flex: 100;
  	padding: 5px;
  	align-items: center;
  	justify-content: center;
 	display: flex;
}
  
  
/* ----- =style ----- */

hr {
	height: 2px;
	background-color: #d4d4d4;
	border: none;
	margin: 20px 0 25px 0;
}
ul li p {
	margin: .25em; 	
 	
}
